@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.layer {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: #a68989;
  background-image: url(../../images/zelije.png);
  background-size: 85%;
}

/* body::selection {
  color: #a28e8e;;
  background-color: #7c502e;
} */

.introMessage {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}

.introMessage h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Berkshire Swash', cursive;
  color: #630707;
  filter: drop-shadow(5px 0 5px #ffffff);
}

.introMessage p {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 20px;
  color: #630707;
  font-family: 'Lora', serif;
  font-weight: bolder;
  filter: drop-shadow(5px 0 5px #ffffff);
}

.introMessage button {
  padding: 12px 30px;
  border: 2px solid #630707;
  background-color: #630707;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 50px;
  font-family: "Berkshire Swash", cursive;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  box-shadow: 0 0 25px rgb(255, 255, 255);
}

.introMessage button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.layer::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 80px;
  height: 200px;
}

.layer .plane {
  position: absolute;
  top: 0vh;
  height: 100vh;
  width: 99.5vh;
  rotate: 90deg;
  left: -47.5vh;
  z-index: 1;
  filter: drop-shadow(0 0 25px #000);
}

.layer .trail {
  position: absolute;
  top: 2vh;
  height: 103vh;
  width: 150vh;
  rotate: 90deg;
  left: -160vh;
  filter: drop-shadow(0 0 10px #00000094);
}

.layer .mrMap {
  position: absolute;
  top: 50%;
  left: 80%;
  width: 110vh;
  height: auto;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 25px #000);
}