@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.navbar {
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 11;
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink {
  font-family: 'Lora', serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.navLink:hover {
  color: #b06666;
}

.navLink.scrolled {
  font-family: 'Lora', serif;
  font-weight: 500;
  color: #630707;
}

.navLink:hover.scrolled {
  color: #b06666;
}