.eventsPage {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.intro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px;
}

/* Typography */
.subtitle {
  font-size: 30px;
  font-weight: lighter;
  color: #b06666;
  margin: 0;
  line-height: 1.2;
  font-family: 'Berkshire Swash', cursive;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin: 5px 0 15px;
  color: #222;
  font-family: 'Lora', serif;
}

.description {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  font-family: 'Lora', serif;
  margin-bottom: 30px;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  max-width: 200px;
}

.line {
  height: 1px;
  background-color: #ddd;
  flex-grow: 1;
}

.icon {
  margin: 0 15px;
}

.featureIcon1 {
  width: 40px;
  height: 40px;
}


.intro h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.intro p {
  color: #666;
  line-height: 1.6;
}

.noEvents {
  text-align: center;
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-top: 30px;
}

.noEvents p {
  color: #666;
  font-size: 18px;
}
